@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        @Html.Action("_SliderPosts", "Home")
    </div>
    <div class="col-md-4">
        @Html.Action("_MostReaded", "Home")
    </div>
</div>
<hr />
@Html.Action("_CategoryPosts", "Home")