@model IQueryable<NewsSite.Core.Database.Tables.Tag>

@{
    ViewBag.Title = "Etiketler";
}

<a href='@Url.Action("AddTag", "Tag")' class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Yeni Etiket</a>
<hr />

@using GridMvc.Html
@Html.Grid(Model).Columns(columns =>
{
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(x => Edit(x));
    columns.Add(column => column.Name).Titled("Etiket").Sortable(true);
    columns.Add(column => column.Description).Titled("Açıklama").Sortable(true);
    columns.Add(column => column.IsActive).Titled("Aktif").Sortable(true);
    columns.Add(column => column.Slug).Titled("Seo Ad").Sortable(true);
}).WithPaging(20)

@helper Edit(NewsSite.Core.Database.Tables.Tag tag)
{
    <a href='@Url.Action("EditTag", "Tag", new { id = tag.Id })' class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href='@Url.Action("DeleteTag", "Tag", new { id = tag.Id })' onclick="return confirm('Silmek istediğinize emin misiniz?')" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></a>
}